body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  color: #878787;
  font-size: 16px;
  font-weight: 100;
  line-height: 18px;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 100px auto;
}

.weather-app {
  margin-bottom: 20px;
  padding: 20px;
  border: 0.5px solid black;
  border-radius: 2px;
}
