body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #000;
  font-size: 34px;
  font-weight: 100;
  line-height: 28px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  color: #000;
  font-size: 16px;
  font-weight: 100;
  line-height: 18px;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 100px auto;
}

.weather-app {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #000;
  background-color: #f6d4f6;
}

.overview {
  margin-bottom: 20px;
}

.weather-temp img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.weather-temp strong {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temp .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.description {
  text-transform: capitalize;
}

.search-box {
  color: #000;
  border: none;
}
.search-button {
  color: #000;
  background-color: white;
  border: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-day {
  font-size: 16px;
  color: #000;
}
