body {
  font-family: "Nobile", sans-serif;
}

h1 {
  color: black;
  font-size: 48px;
  font-weight: 100;
  line-height: 28px;
  font-family: "Corben", regular;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 100px auto;
}

.weather-app {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid black;
  background-color: #f6cdc7;
}

.overview {
  margin-left: 40px;
  margin-bottom: 20px;
}

.date {
  font-size: 20px;
}

.search {
  padding: 20px 0 0 40px;
}

.weather-temp img {
  margin-left: 40px;
  margin-right: 10px;
  height: 96px;
  width: 96px;
}

.weather-temp strong {
  font-size: 84px;
  font-weight: 600;
  line-height: 1;
}

.weather-temp .units {
  position: relative;
  font-size: 16px;
  top: -36px;
  color: #000;
}

.description {
  text-transform: capitalize;
  font-size: 18px;
  padding-top: 10px;
}

.search-box {
  color: #000;
  border: none;
  border: 1px solid black;
}
.search-button {
  color: #000;
  background-color: white;
  border: 1px solid black;
  margin: 0 10px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-day {
  font-size: 18px;
  color: #000;
}
